@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/fonts/static/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/static/Inter-Regular.ttf");
}



@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}
